$GLOBAL-MARGIN : 2%;
$GLOBAL-LABEL-COLOR : #001A99;

$LOGIN-LABEL-FONT-SIZE : 1.4em;
$LOGIN-AUTHENTIFICATION-MARGIN: 5%;
$LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS : 10px;
$LOGIN-BUTTONS-HEIGHT : 57px;
$LOGIN-BUTTONS-MARGIN-VALUE : 5%;
$LOGIN-AUTHENTIFICATION-IMG-HEIGHT: 150px;
$LOGIN-AUTHENTIFICATION-WIDTH: 119px;
$LOGIN-AUTHENTIFICATION-MARGIN-TOP: 50px;

$MENU-CAROUSEL-MARGIN: 20px;