$GLOBAL-MARGIN : 2%;
$GLOBAL-LABEL-COLOR : black;
$GLOBAL-DISABLED-OPACITY : 0.3;

$LOGIN-LABEL-FONT-SIZE : 1.4em;
$LOGIN-AUTHENTIFICATION-MARGIN: 5%;
$LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS : 10px;
$LOGIN-BUTTONS-HEIGHT : 57px;
$LOGIN-BUTTONS-MARGIN-VALUE : 5%;
$LOGIN-AUTHENTIFICATION-IMG-HEIGHT: 90px;
$LOGIN-AUTHENTIFICATION-WIDTH: 150px;
$LOGIN-AUTHENTIFICATION-MARGIN-TOP: 50px;

$MENU-CAROUSEL-MARGIN : 20px;
$MENU-BUTTON-SIZE : 100px;
$MENU-LABEL-MARGIN-TOP : 40px;

$FOLDER_PADDING_TOP: 200px;

$GEOLOCATION_CONTAINER_GEOLOC_MARGIN_TOP: 20px;
$GEOLOCATION_CONTAINER_GEOLOC_BUTTON_SIZE : 60px;
$GEOLOCATION_LABEL_GEOLOC_PADDING_TOP: 15px;
$GEOLOCATION_BUTTON_SAVE_GEOLOC_WIDTH: 50%;
$GEOLOCATION_BUTTON_SAVE_GEOLOC_MARGIN_TOP: 30px;