.login {
	margin: $GLOBAL-MARGIN;
	.x-label {
		font-size : $LOGIN-LABEL-FONT-SIZE;
	}
	.authentification {
		margin: $LOGIN-AUTHENTIFICATION-MARGIN;
		.emailfield {
			margin-top : $LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS;
			margin-bottom : $LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS;
		}
		.passwordfield {
			margin-top : $LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS;
			margin-bottom : $LOGIN-AUTHENTIFICATION-MARGIN-SEPARATION-FIELDS;
		}
		.mobservation {
			height : $LOGIN-AUTHENTIFICATION-IMG-HEIGHT;
			width : $LOGIN-AUTHENTIFICATION-WIDTH;
			margin : auto;
			margin-top: $LOGIN-AUTHENTIFICATION-MARGIN-TOP;
		}
	}

	.buttons {
		margin-top: $LOGIN-BUTTONS-MARGIN-TOP;
		.noaccount {
			background: url(../images/info_plain.png) no-repeat center top;
		}
		.valid {
			background: url(../images/check1.png) no-repeat center top;
		}
		.x-button-label {
			padding-top : $LOGIN-BUTTONS-LABEL-PADDING-TOP;
		}
	}
}

.login_infos {
	padding : $GLOBAL-MARGIN;
}